A:hover {
	COLOR: #000099; TEXT-DECORATION: underline
}
A {
	COLOR: #6633ff; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #333366; SCROLLBAR-HIGHLIGHT-COLOR: #333366; SCROLLBAR-SHADOW-COLOR: #000033; SCROLLBAR-3DLIGHT-COLOR: #333366; SCROLLBAR-ARROW-COLOR: #ffffcc; SCROLLBAR-TRACK-COLOR: #000033; SCROLLBAR-DARKSHADOW-COLOR: #000033
}
.poembody {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "Times New Roman", Times, serif
}
.poemcopyrights {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "Times New Roman", Times, serif
}
.poemtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "Times New Roman", Times, serif
}
