BODY {
	SCROLLBAR-FACE-COLOR: #909079; SCROLLBAR-HIGHLIGHT-COLOR: #909079; SCROLLBAR-SHADOW-COLOR: #484840; SCROLLBAR-3DLIGHT-COLOR: #909079; SCROLLBAR-ARROW-COLOR: #fbf8e6; SCROLLBAR-TRACK-COLOR: #484840; SCROLLBAR-DARKSHADOW-COLOR: #484840
}
.bodytextbolditalic {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #484840; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodytextbolditalicblue {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
